* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #004fbd, #ff385c);
    color: white;
}

/* HEADER */
header {
    position: fixed;
    width: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    padding: 20px 0;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: 0.3s;
}

nav ul li a:hover {
    color: yellow;
}

/* HOME */
#home {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 80px;
}

.hero-content h1 {
    font-size: 3.8rem;
    margin-bottom: 20px;   /* space below your name */
}

.hero-content p:first-of-type {
    margin-bottom: 15px;   /* space below CSE line */
}

.hero-content p {
    margin-bottom: 20px;   /* space below paragraph */
}

.cta-btn {
    padding: 12px 30px;
    background: white;
    color: black;
    border-radius: 30px;
    text-decoration: none;
    transition: 0.3s;
}

.cta-btn:hover {
    background: yellow;
}
.button-group {
    margin-top: 40px;     /* Space above buttons */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;            /* Space BETWEEN buttons */
}
/* RESUME BUTTON */
.resume-btn {
    display: inline-block;
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
    background: black;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}

.resume-btn:hover {
    background: white;
    color: rgba(8, 26, 163, 0.877);
}
/* ABOUT */
#about {
    padding: 100px 20px;
    background: rgba(0, 0, 0, 0.7);
}

.section-title {
    font-size: 2.5rem;
    margin-bottom: 40px;
    text-align: center;
}

.about-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
}

.profile-img {
    width: 220px;
    border-radius: 50%;
    border: 4px solid white;
}

.about-list {
    list-style: none;
}

.about-list li {
    margin-bottom: 15px;
}

/* PROJECTS */
#projects {
    padding: 100px 20px;
}

.projects-grid {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    background: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
    width: 250px;
}

/* CONTACT */
#contact {
    padding: 100px 20px;
    background: rgba(0, 0, 0, 0.8);
    text-align: center;
}

#contact a {
    color: yellow;
    text-decoration: none;
}

.social-links a {
    font-size: 30px;
    margin: 0 15px;
    color: white;
    transition: 0.3s;
}

.social-links a:hover {
    color: yellow;
}

/* FOOTER */
footer {
    background: black;
    text-align: center;
    padding: 20px;
}